@charset "utf-8";
@import url('./reset.css');
#wrap {
    width: 100%;
    #header{
        width: 100%;
        height: 194px;
        position: absolute;
        border-bottom: none;
        z-index: 3;
        .top{
            width: 980px;
            height: 90px;
            margin: 0 auto;
            border-bottom: 1px solid #b2b2b2;
            border-bottom-color: rgba(255, 255, 255, .3);
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;
            .menu1{
                float: left;
                margin-top: 40px;
                padding-right: 120px;
                display: flex;
                li{
                    margin: 14px;
                    float: left;
                    display: list-item;
                    display: flex;
                    a{
                        height: 14px;
                        line-height: 14px;
                        background-repeat: no-repeat;
                        background-position: 0 center;
                        text-decoration: none;
                        cursor: pointer;
                        font-size: 12px;
                        font-weight: 500;
                        color: #777;
                        white-space: nowrap;
                    
                    }
                    img {
                        width: 10px;height: 10px; margin: 0 5px;
                    }
                }
            }
            .menu2{
                float: right;
                margin-top: 20px;
                padding-left: 60px;
                display: flex;
                li{
                    margin: 14px;
                    float: right;
                    display: list-item;
                    a {
                        height: 14px;
                        line-height: 14px;
                        background-repeat: no-repeat;
                        background-position: 0 center;
                        display: block;
                        text-decoration: none;
                        cursor: pointer;
                        font-size: 14px;
                        font-weight: 700;
                        color: #777;
                        white-space: nowrap;
                    }
                }
            }
            h1{
                background-image: url(../imgs/logo_header.png);
                a{
                    display: block;
                    width: 219px;
                    height: 37px;
                    padding: 10px 50px;
                }
            }
        }
        .bottom{
            width: 100%;
            height: 80px;
            #nav{
                width: 25%;
                position: relative;
                z-index: 4;
                left: 39.5%;
                >ul{
                    width: 100%;
                    display: flex;
                    align-items: center;
                    justify-content: center;
                    >li{
                        width: 90px;
                        a{
                            width: 100%;
                            height: 46px;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            font-weight: 500;
                            color: #fff;
                            transition: all 0.3s;
                            &:hover{
                                color: #aaa;
                            }
                            &.on{
                                color: #aaa;
                            }
                        }
                        .sub{
                            width: 500%;
                            height: auto;
                            display: none;
                            position: absolute;
                            background: rgba(0, 0, 0, 0.9);
                            top: 40px;
                            left: -200%;
                            &.on{
                                display: flex;
                                justify-content: center;
                                align-items: center;
                            }
                            .sub-container{
                                width: 550px;
                                >ul{
                                    width: 100%;
                                    height: 100%;
                                    display: flex;
                                    padding: 10px 0;
                                    justify-content: center;
                                    >li{
                                        width: 90px;
                                        >a{
                                            width: 100%;
                                            height: 10px;
                                            display: flex;
                                            align-items: center;
                                            justify-content: center;
                                            color: #aaa;
                                            font-size: 12px;
                                            &:hover{
                                                color: #fff;
                                            
                                            }
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
            #aside {
                width:100%;
                #aside span {
                    width:100%;
                    padding-left: 800px;
                    padding-top: 20px;
                    position: absolute;
                    right: 0;
                    top: 44%;
                    display: flex;
                    z-index: 3;
                    justify-content:center;
                    a {
                        font-size: 13px;
                        color:#fff;
                        &:hover {
                            color:#66f;
                            font-weight: 500;
                        }
                    }
                    i {
                        font-size: 13px;
                        color:#ccc;
                        margin:0 5px;
                    }
                }
            }
        }
    }
    #main{
        width: 100%;
        overflow: hidden;
        #section1{ 
            width: 100%;
            height: 774px;
            .slide-container{
                width:100%;
                overflow: hidden;
                height: 100%;
                z-index: 2;
                position: relative;
                cursor: grab;
                .slide-content{
                    width: 100%;
                    height: 100%;
                    .slide-wrap{
                        width: 500%;
                        height: 100%;
                        position: relative;
                        display: flex;
                        margin-left: -100%;
                        .slide {
                            width: 100%;
                            height: 100%;
                            background:url() no-repeat 50% 50% ;
                            background-size: cover;
                            position: relative;
                            display: flex;
                            align-items: center;
                            justify-content: center;
                            .sl-striming1{
                                width: auto;
                                height: auto;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                .arrow-btn1 {
                                    width:auto;
                                    img{
                                        width:auto;
                                    }
                                }
                            }
                            .sl-striming2{
                                width: auto;
                                height: auto;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                .arrow-btn2 {
                                    width:auto;
                                    img{
                                        width:auto;
                                    }
                                }
                            }
                            .sl-striming3{
                                width: auto;
                                height: auto;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                .arrow-btn3 {
                                    width:auto;
                                    img{
                                        width:auto;
                                    }
                                }
                            }
                        }
                        .slide1  {
                            background-image: url(../imgs/slide1.jpg);
                            
                        }
                        .slide2  {
                            background-image: url(../imgs/slide2.jpg)
                        }
                        .slide3 {
                            background-image: url(../imgs/slide3.jpg)
                        }
                    }
                }
            }
        }
        #section2{
            width: 100%;
            height: 400px;
            padding: 10px;
            background: #111;
            overflow: hidden;
            .container{
                width: 100%;
                height: 100%;
                title{
                    width: 100%;
                    height: 100%;
                    z-index: 3;
                    h2{
                        width: 100%;
                        height: 100%;
                        font-size: 15px;
                        font-weight: 400;
                        color: #fff;
                    
                    }
                }
                .content{
                    width: 100%;
                    height: 100%;
                    .gallery{
                        width: 100%;
                        height: 100%;
                        ul{
                            width: 100%;
                            height: 100%;
                            display: flex;
                            justify-content: center;
                            align-items: center;
                            li{
                                width: 200px;
                                margin-left: 50px;
                                display: flex;
                                flex-flow: column;
                                justify-content: center;
                                align-items: center;
                                &:nth-child(1){
                                    .name{
                                        > p{
                                            height: 22px; width: 22px; background-size: cover;
                                            background: url('../imgs/grade_15.png') no-repeat 50% 50%;
                                        }
                                    }
                                }
                                &:nth-child(2){
                                    .name{
                                        > p{
                                            height: 22px; width: 22px; background-size: cover;
                                            background: url('../imgs/grade_all.png') no-repeat 50% 50%;
                                        }
                                    }
                                }
                                &:nth-child(3){
                                    .name{
                                        > p{
                                            height: 22px; width: 22px; background-size: cover;
                                            background: url('../imgs/grade_15.png') no-repeat 50% 50%;
                                        }
                                    }
                                }
                                &:nth-child(4){
                                    .name{
                                        > p{
                                            height: 22px; width: 22px; background-size: cover;
                                            background: url('../imgs/grade_12.png') no-repeat 50% 50%;
                                        }
                                    }
                                }
                                &:nth-child(5){
                                    .name{
                                        > p{
                                            height: 22px; width: 22px; background-size: cover;
                                            background: url('../imgs/grade_12.png') no-repeat 50% 50%;
                                        }
                                    }
                                }
                                &:nth-child(1){
                                    a {
                                        background-image: url(../imgs/top1.jpg);
                                    }
                                }
                                &:nth-child(2){
                                    a {
                                        background-image: url(../imgs/top2.jpg);
                                    }
                                }
                                &:nth-child(3){
                                    a {
                                        background-image: url(../imgs/top3.jpg);
                                    }
                                }
                                &:nth-child(4){
                                    a {
                                        background-image: url(../imgs/top4.jpg);
                                    }
                                }
                                &:nth-child(5){
                                    a {
                                        background-image: url(../imgs/top5.jpg);
                                    }
                                }
                                a{
                                    display: flex;
                                    width: 200px;
                                    height: 300px;
                                    overflow: hidden;
                                    background-size: cover;
                                    &:hover{
                                        opacity: 1;
                                    }

                                }
                                .name{
                                    display: flex; align-items: center; margin-top: 10px;
                                    > span{
                                        color: #fff;
                                        font-weight: 900;
                                        padding-left: 10px;
                                    }
                                    }
                            }
                        }
                    }
                }
            }
        }
        #section3{
            width: 100%;
            .container{
                width: 100%;
                height: 100%;
                .title{
                    width: 100%;
                    height: 100%;
                    padding-top: 30px;
                    margin-left: 460px;
                    h2{
                        width: 100%;
                        height: 100%;
                        font-size: 30px;
                        font-weight: 400;
                        color: #111;
                    }
                }
                .content{
                    width: 100%;
                    height: 100%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 30px;
                    .left{
                        .top{
                            > ul{
                                display: flex;
                                > li{
                                    height: 250;
                                    padding: 5px;
                                    > a{
                                        > img{

                                        }
                                    }
                                }
                            }
                        }
                        .bottom{
                            > ul{
                                display: flex;
                                > li{
                                    padding: 5px;
                                    > a{
                                        >img{

                                        }
                                    }
                                }
                            }
                        }
                    }
                    .right{
                        > ul{
                            > li{
                                padding: 5px;
                                > a{
                                    > img{

                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    #footer{  
        width: 100%;
        height: 150px;    
        position: relative;
        display: flex;
        .left{  
            width: 300px;
            height: 100%;
            .mas-box{
                width:100%;
                iframe{ 
                    width:100%; 
                    height: 200px;
                    border: 1px solid #ccc;
                }
            }
        }
        .center{
            width: calc(100% - 400px);
            height: 100%;
            display: flex;
            flex-flow: column;
            align-items: center;
            justify-content: center;
            border-left: 1px solid #ddd;
            border-right: 1px solid #ddd;
            h1{
                width: 100%;
                height: 100%;
                a{
                    width: 100%;
                    height: 20%;
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    padding-top: 80px;
                    img{
                        width:20%;
                        filter: grayscale(1);
                        opacity: 0.3;
                        padding-bottom: 2px;
                    }
                }
            }
            p{
                padding-bottom: 10px;
            }
            address{ 
                font-size: 18px;
                color: #bbb;
                line-height: 150%;
                width: 70%;
                text-align: center;
                
            }
            span{
                display: block;
                padding-bottom: 20px;
                font-size: 12px;
                color: #bbb;
                width: 100%;
                text-align: center;
            }
        }
        .right{
            width: 500px;
            height: 200px;
            display: flex;
            justify-content: center;
            align-items: center;
            flex-flow: column;
            background: #ccc;
            .top{
                .family-box{
                    width: 100%;
                    padding: 20px 0;
                    text-align: center;
                    select{
                        padding: 5px 10px;
                        font-size: 13px;
                    }
                }
            }
            .bottom{
                .award{
                    width: 100%;
                    a{
                        margin: 10px 5px;
                        img{
                            width:auto;
                        }
                    }
                }
            }
        }
    }
    .modal1{ 
        position: fixed;
        top: 0;
        left: 0;
        width: 100%;
        height: 100%;
        z-index: 5;
        background: rgba(0,0,0, 0.6);
        display: flex;
        align-items: center;
        justify-content: center;
        &.close {
            display: none;
        }
        &.open {
            display: flex;
        }
        .container{
            width: 377px;    
            height: 520px;
            background: rgba(0, 0, 0, 0.6);
            margin: 40px auto;
            border: 1px solid #ccc;
            a{
                img{

                }
            }
            .button-box{
                width: 100%;
                display: flex;
                .left {
                    width: 50%;
                    text-align:left;
                    padding: 6px 6px;
                    input{
                        label{

                        }
                    }
                }
                .right {
                    width: 50%;
                    display: flex;
                    justify-content: right;
                    padding: 5px;
                    button {
                        width: 30%;
                    }
                }
            }
        }
    }
    .modal2 {
        display: none; /* 모달을 기본적으로 숨김 */
        position: fixed; /* 고정 위치 */
        z-index: 5; /* 다른 요소 위에 배치 */
        left: 0;
        top: 0;
        width: 100%;    
        height: 100%;
        background-color: rgba(0,0,0,0.5); /* 반투명 배경 */
        .modal-content {
            background-color: #fefefe;
            margin: 100px auto;
            padding: 10px;
            border: 1px solid #888;
            width: 1070px;    
            height: 680px;
            padding-bottom: 10px;
            
        }
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            &:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
              }
              &:hover{
                color: black;
                text-decoration: none;
                cursor: pointer;
              }
          }
    }
    .modal3 {
        display: none; /* 모달을 기본적으로 숨김 */
        position: fixed; /* 고정 위치 */
        z-index: 5; /* 다른 요소 위에 배치 */
        left: 0;
        top: 0;
        width: 100%;    
        height: 100%;
        background-color: rgba(0,0,0,0.5); /* 반투명 배경 */
        .modal-content {
            background-color: #fefefe;
            margin: 150px auto;
            padding: 10px;
            border: 1px solid #888;
            width: 970px;    
            height: 580px;
            padding-bottom: 10px;
        }
        .close {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            &:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
            &:hover {
                color: black;
                text-decoration: none;
                cursor: pointer;
              }
          }

      }
    .modal4 {
        display: none; 
        position: fixed; 
        z-index: 5; 
        left: 0;
        top: 0;
        width: 100%;    
        height: 100%;
        background-color: rgba(0,0,0,0.5); 
        .modal-content {
            background-color: #fefefe;
            margin: 150px auto;
            padding: 10px;
            border: 1px solid #888;
            width: 970px;    
            height: 580px;
            padding-bottom: 10px;
        }
        .close2 {
            color: #aaa;
            float: right;
            font-size: 28px;
            font-weight: bold;
            &:focus {
                color: black;
                text-decoration: none;
                cursor: pointer;
            }
            &:hover {
                color: black;
                text-decoration: none;
                cursor: pointer;
              }
          }

      }
}
    